
@{
    ViewBag.Title = "Baransan";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="section" id="recent-projects" style="position: relative;">

    <div class="container">

        <div class="row">
            <div class="col-lg-12">
                <h2 class="section-title">Baransan Alüminyum Mirsettin Baran Villa Aydınlatma</h2>
            </div>

            <div class="col-lg-6 col-md-6 col-sm-9">

                <img class="img-responsive img-home-portfolio" src="~/image/projeler/baransan/baransan_1.jpg" alt="portfolio 1">

            </div>

            <div class="col-lg-6 col-md-6 col-sm-9">

                <img class="img-responsive img-home-portfolio" src="~/image/projeler/baransan/baransan_2.jpg" alt="portfolio 1">

            </div>

            <div class="col-lg-12">
                <p></p>
            </div>

            <div class="col-lg-6 col-md-6 col-sm-9">

                <img class="img-responsive img-home-portfolio" src="~/image/projeler/baransan/baransan_3.jpg" alt="portfolio 1">

            </div>

            <div class="col-lg-6 col-md-6 col-sm-9">

                <img class="img-responsive img-home-portfolio" src="~/image/projeler/baransan/baransan_4.jpg" alt="portfolio 1">

            </div>

            <div class="col-lg-12">
                <p></p>
            </div>

            <div class="col-lg-6 col-md-6 col-sm-9">

                <img class="img-responsive img-home-portfolio" src="~/image/projeler/baransan/baransan_5.jpg" alt="portfolio 1">

            </div>

            <div class="col-lg-6 col-md-6 col-sm-9">

                <img class="img-responsive img-home-portfolio" src="~/image/projeler/baransan/baransan_6.jpg" alt="portfolio 1">

            </div>

            <div class="col-lg-12">
                <p></p>
            </div>

            <div class="col-lg-6 col-md-6 col-sm-9">

                <img class="img-responsive img-home-portfolio" src="~/image/projeler/baransan/baransan_7.jpg" alt="portfolio 1">

            </div>

            <div class="col-lg-6 col-md-6 col-sm-9">

                <img class="img-responsive img-home-portfolio" src="~/image/projeler/baransan/baransan_8.jpg" alt="portfolio 1">

            </div>

            <div class="col-lg-12">
                <p></p>
            </div>

            <div class="col-lg-6 col-md-6 col-sm-9">

                <img class="img-responsive img-home-portfolio" src="~/image/projeler/baransan/baransan_9.jpg" alt="portfolio 1">

            </div>

            <div class="col-lg-6 col-md-6 col-sm-9">

                <img class="img-responsive img-home-portfolio" src="~/image/projeler/baransan/baransan_10.jpg" alt="portfolio 1">

            </div>

            <div class="col-lg-12">
                <p></p>
            </div>

            <div class="col-lg-6 col-md-6 col-sm-9">

                <img class="img-responsive img-home-portfolio" src="~/image/projeler/baransan/baransan_11.jpg" alt="portfolio 1">

            </div>

            <div class="col-lg-6 col-md-6 col-sm-9">

                <img class="img-responsive img-home-portfolio" src="~/image/projeler/baransan/baransan_12.jpg" alt="portfolio 1">

            </div>

            <div class="col-lg-12">
                <p></p>
            </div>

            <div class="col-lg-6 col-md-6 col-sm-9">

                <img class="img-responsive img-home-portfolio" src="~/image/projeler/baransan/baransan_13.jpg" alt="portfolio 1">

            </div>

            <div class="col-lg-6 col-md-6 col-sm-9">

                <img class="img-responsive img-home-portfolio" src="~/image/projeler/baransan/baransan_14.jpg" alt="portfolio 1">

            </div>

            <div class="col-lg-12">
                <p></p>
            </div>

            <div class="col-lg-6 col-md-6 col-sm-9">

                <img class="img-responsive img-home-portfolio" src="~/image/projeler/baransan/baransan_15.jpg" alt="portfolio 1">

            </div>

            <div class="col-lg-6 col-md-6 col-sm-9">

                <img class="img-responsive img-home-portfolio" src="~/image/projeler/baransan/baransan_16.jpg" alt="portfolio 1">

            </div>

            <div class="col-lg-12">
                <p></p>
            </div>

            <div class="col-lg-6 col-md-6 col-sm-9">

                <img class="img-responsive img-home-portfolio" src="~/image/projeler/baransan/baransan_17.jpg" alt="portfolio 1">

            </div>

         

        </div>
    </div>
</div>


