
@{
    ViewBag.Title = "Hakkimizda";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="section-header">
    <div class="container">
        <div class="row">

            <div class="col-lg-12">
                <h1 class="page-header">Hakkımızda</h1>
            </div>

        </div>
    </div> <!-- /.container -->
</div> <!-- /.section-colored -->

<div class="container container-int">

    <ol class="breadcrumb">
        <li><a href="/Home/Index">Atılım</a></li>
        <li class="active">Hakkımızda</li>
    </ol>

    <div class="row">

        <div class="col-lg-12">

            <div class="col-lg-6 col-md-6 col-sm-9">
                <img class="img-responsive img-home-portfolio" src="~/image/hakkimizda3.jpg" alt="portfolio 1">
            </div>
            <div class="col-lg-6 col-md-6 col-sm-9">
                <blockquote>
                    <p>2010 yılında kurmuş olduğumuz aile şirketimiz olan Atılım Elektrik&Dekoratif Aydınlatma inşaat, mimarlık, mühendislik ve aydınlatma sektörlerinde 9 yıllık tecrübemiz ve deneyimli kadromuz ile siz değerli müşterilerimize sorunsuz hizmet vermekteyiz.</p>
                </blockquote>

                <p>Evinizde veya işyerinizde elektrik ile ilgili tüm arızalarınıza 7/24 saat hizmet vermekteyiz</p>
                </div>
            </div>
        </div>





</div><!-- /.container -->