
@{
    ViewBag.Title = "Haser";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="section" id="recent-projects" style="position: relative;">

        <div class="container">

            <div class="row">
                <div class="col-lg-12">
                    <h2 class="section-title">Darıca HAS_ER Unlu Mamulleri</h2>
                </div>

                <div class="col-lg-6 col-md-6 col-sm-9">

                    <img class="img-responsive img-home-portfolio" src="~/image/projeler/has_er unlu mamul/haser_1.jpg" alt="portfolio 1">

                </div>

                <div class="col-lg-6 col-md-6 col-sm-9">

                    <img class="img-responsive img-home-portfolio" src="~/image/projeler/has_er unlu mamul/haser_2.jpg" alt="portfolio 1">

                </div>

                <div class="col-lg-12">
                    <p></p>
                </div>

                <div class="col-lg-6 col-md-6 col-sm-9">

                    <img class="img-responsive img-home-portfolio" src="~/image/projeler/has_er unlu mamul/haser_3.jpg" alt="portfolio 1">

                </div>

                <div class="col-lg-6 col-md-6 col-sm-9">

                    <img class="img-responsive img-home-portfolio" src="~/image/projeler/has_er unlu mamul/haser_4.jpg" alt="portfolio 1">

                </div>

                <div class="col-lg-12">
                    <p></p>
                </div>

                <div class="col-lg-6 col-md-6 col-sm-9">

                    <img class="img-responsive img-home-portfolio" src="~/image/projeler/has_er unlu mamul/haser_5.jpg" alt="portfolio 1">

                </div>

                <div class="col-lg-6 col-md-6 col-sm-9">

                    <img class="img-responsive img-home-portfolio" src="~/image/projeler/has_er unlu mamul/haser_6.jpg" alt="portfolio 1">

                </div>

                <div class="col-lg-12">
                    <p></p>
                </div>

                <div class="col-lg-6 col-md-6 col-sm-9">

                    <img class="img-responsive img-home-portfolio" src="~/image/projeler/has_er unlu mamul/haser_7.jpg" alt="portfolio 1">

                </div>

                <div class="col-lg-6 col-md-6 col-sm-9">

                    <img class="img-responsive img-home-portfolio" src="~/image/projeler/has_er unlu mamul/haser_8.jpg" alt="portfolio 1">

                </div>

                <div class="col-lg-12">
                    <p></p>
                </div>

                <div class="col-lg-6 col-md-6 col-sm-9">

                    <img class="img-responsive img-home-portfolio" src="~/image/projeler/has_er unlu mamul/haser_9.jpg" alt="portfolio 1">

                </div>

                <div class="col-lg-6 col-md-6 col-sm-9">

                    <img class="img-responsive img-home-portfolio" src="~/image/projeler/has_er unlu mamul/haser_10.jpg" alt="portfolio 1">

                </div>

                <div class="col-lg-12">
                    <p></p>
                </div>

                <div class="col-lg-6 col-md-6 col-sm-9">

                    <img class="img-responsive img-home-portfolio" src="~/image/projeler/has_er unlu mamul/haser_11.jpg" alt="portfolio 1">

                </div>

                <div class="col-lg-6 col-md-6 col-sm-9">

                    <img class="img-responsive img-home-portfolio" src="~/image/projeler/has_er unlu mamul/haser_12.jpg" alt="portfolio 1">

                </div>

                <div class="col-lg-12">
                    <p></p>
                </div>

                <div class="col-lg-6 col-md-6 col-sm-9">

                    <img class="img-responsive img-home-portfolio" src="~/image/projeler/has_er unlu mamul/haser_13.jpg" alt="portfolio 1">

                </div>

                <div class="col-lg-6 col-md-6 col-sm-9">

                    <img class="img-responsive img-home-portfolio" src="~/image/projeler/has_er unlu mamul/haser_14.jpg" alt="portfolio 1">

                </div>

                <div class="col-lg-12">
                    <p></p>
                </div>

                <div class="col-lg-6 col-md-6 col-sm-9">

                    <img class="img-responsive img-home-portfolio" src="~/image/projeler/has_er unlu mamul/haser_15.jpg" alt="portfolio 1">

                </div>

                <div class="col-lg-6 col-md-6 col-sm-9">

                    <img class="img-responsive img-home-portfolio" src="~/image/projeler/has_er unlu mamul/haser_16.jpg" alt="portfolio 1">

                </div>

                <div class="col-lg-12">
                    <p></p>
                </div>

                <div class="col-lg-6 col-md-6 col-sm-9">

                    <img class="img-responsive img-home-portfolio" src="~/image/projeler/has_er unlu mamul/haser_17.jpg" alt="portfolio 1">

                </div>

                <div class="col-lg-6 col-md-6 col-sm-9">

                    <img class="img-responsive img-home-portfolio" src="~/image/projeler/has_er unlu mamul/haser_18.jpg" alt="portfolio 1">

                </div>

                <div class="col-lg-12">
                    <p></p>
                </div>

                <div class="col-lg-6 col-md-6 col-sm-9">

                    <img class="img-responsive img-home-portfolio" src="~/image/projeler/has_er unlu mamul/haser_19.jpg" alt="portfolio 1">

                </div>

                <div class="col-lg-6 col-md-6 col-sm-9">

                    <img class="img-responsive img-home-portfolio" src="~/image/projeler/has_er unlu mamul/haser_20.jpg" alt="portfolio 1">

                </div>

                <div class="col-lg-12">
                    <p></p>
                </div>

                <div class="col-lg-6 col-md-6 col-sm-9">

                    <img class="img-responsive img-home-portfolio" src="~/image/projeler/has_er unlu mamul/haser_21.jpg" alt="portfolio 1">

                </div>

                <div class="col-lg-6 col-md-6 col-sm-9">

                    <img class="img-responsive img-home-portfolio" src="~/image/projeler/has_er unlu mamul/haser_22.jpg" alt="portfolio 1">

                </div>

                <div class="col-lg-12">
                    <p></p>
                </div>

                <div class="col-lg-6 col-md-6 col-sm-9">

                    <img class="img-responsive img-home-portfolio" src="~/image/projeler/has_er unlu mamul/haser_23.jpg" alt="portfolio 1">

                </div>

                <div class="col-lg-6 col-md-6 col-sm-9">

                    <img class="img-responsive img-home-portfolio" src="~/image/projeler/has_er unlu mamul/haser_24.jpg" alt="portfolio 1">

                </div>

                <div class="col-lg-12">
                    <p></p>
                </div>

                <div class="col-lg-6 col-md-6 col-sm-9">

                    <img class="img-responsive img-home-portfolio" src="~/image/projeler/has_er unlu mamul/haser_25.jpg" alt="portfolio 1">

                </div>

                <div class="col-lg-6 col-md-6 col-sm-9">

                    <img class="img-responsive img-home-portfolio" src="~/image/projeler/has_er unlu mamul/haser_26.jpg" alt="portfolio 1">

                </div>

                <div class="col-lg-12">
                    <p></p>
                </div>

                <div class="col-lg-6 col-md-6 col-sm-9">

                    <img class="img-responsive img-home-portfolio" src="~/image/projeler/has_er unlu mamul/haser_27.jpg" alt="portfolio 1">

                </div>

                <div class="col-lg-6 col-md-6 col-sm-9">

                    <img class="img-responsive img-home-portfolio" src="~/image/projeler/has_er unlu mamul/haser_28.jpg" alt="portfolio 1">

                </div>

                <div class="col-lg-12">
                    <p></p>
                </div>

                <div class="col-lg-6 col-md-6 col-sm-9">

                    <img class="img-responsive img-home-portfolio" src="~/image/projeler/has_er unlu mamul/haser_29.jpg" alt="portfolio 1">

                </div>

                <div class="col-lg-6 col-md-6 col-sm-9">

                    <img class="img-responsive img-home-portfolio" src="~/image/projeler/has_er unlu mamul/haser_30.jpg" alt="portfolio 1">

                </div>

                <div class="col-lg-12">
                    <p></p>
                </div>

                <div class="col-lg-6 col-md-6 col-sm-9">

                    <img class="img-responsive img-home-portfolio" src="~/image/projeler/has_er unlu mamul/haser_31.jpg" alt="portfolio 1">

                </div>

                <div class="col-lg-6 col-md-6 col-sm-9">

                    <img class="img-responsive img-home-portfolio" src="~/image/projeler/has_er unlu mamul/haser_32.jpg" alt="portfolio 1">

                </div>

                <div class="col-lg-12">
                    <p></p>
                </div>

                <div class="col-lg-6 col-md-6 col-sm-9">

                    <img class="img-responsive img-home-portfolio" src="~/image/projeler/has_er unlu mamul/haser_33.jpg" alt="portfolio 1">

                </div>

                <div class="col-lg-6 col-md-6 col-sm-9">

                    <img class="img-responsive img-home-portfolio" src="~/image/projeler/has_er unlu mamul/haser_34.jpg" alt="portfolio 1">

                </div>

                <div class="col-lg-12">
                    <p></p>
                </div>

                <div class="col-lg-6 col-md-6 col-sm-9">

                    <img class="img-responsive img-home-portfolio" src="~/image/projeler/has_er unlu mamul/haser_35.jpg" alt="portfolio 1">

                </div>

                <div class="col-lg-6 col-md-6 col-sm-9">

                    <img class="img-responsive img-home-portfolio" src="~/image/projeler/has_er unlu mamul/haser_36.jpg" alt="portfolio 1">

                </div>

                <div class="col-lg-12">
                    <p></p>
                </div>

                <div class="col-lg-6 col-md-6 col-sm-9">

                    <img class="img-responsive img-home-portfolio" src="~/image/projeler/has_er unlu mamul/haser_37.jpg" alt="portfolio 1">

                </div>

                <div class="col-lg-6 col-md-6 col-sm-9">

                    <img class="img-responsive img-home-portfolio" src="~/image/projeler/has_er unlu mamul/haser_38.jpg" alt="portfolio 1">

                </div>

            </div>
            </div>
        </div>

