
@{
    ViewBag.Title = "IlkKazanim";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="section" id="recent-projects" style="position: relative;">

    <div class="container">

        <div class="row">
            <div class="col-lg-12">
                <h2 class="section-title">İlk Kazanım Dershaneleri</h2>
            </div>

            <div class="col-lg-6 col-md-6 col-sm-9">

                <img class="img-responsive img-home-portfolio" src="~/image/projeler/ilk_kazanim/ilk_kazanim_1.jpg" alt="portfolio 1">

            </div>

            <div class="col-lg-6 col-md-6 col-sm-9">

                <img class="img-responsive img-home-portfolio" src="~/image/projeler/ilk_kazanim/ilk_kazanim_2.jpg" alt="portfolio 1">

            </div>

            <div class="col-lg-12">
                <p></p>
            </div>

            <div class="col-lg-6 col-md-6 col-sm-9">

                <img class="img-responsive img-home-portfolio" src="~/image/projeler/ilk_kazanim/ilk_kazanim_3.jpg" alt="portfolio 1">

            </div>

            <div class="col-lg-6 col-md-6 col-sm-9">

                <img class="img-responsive img-home-portfolio" src="~/image/projeler/ilk_kazanim/ilk_kazanim_4.jpg" alt="portfolio 1">

            </div>

            <div class="col-lg-12">
                <p></p>
            </div>

        </div>
        </div>
    </div>


