
@{
    ViewBag.Title = "LedSpot";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="section" id="recent-projects" style="position: relative;">

    <div class="container">

        <div class="row">
            <div class="col-lg-12">
                <h2 class="section-title">Led / Spot</h2>
            </div>

            <div class="col-lg-6 col-md-6 col-sm-9">

                <img class="img-responsive img-home-portfolio" src="~/image/led/led40.jpg" alt="portfolio 1">

            </div>


            <div class="col-lg-6 col-md-6 col-sm-9">

                <img class="img-responsive img-home-portfolio" src="~/image/led/led50.jpg" alt="portfolio 1">

            </div>

            <div class="col-lg-12">
                <p></p>
            </div>


            <div class="col-lg-6 col-md-6 col-sm-9">

                <img class="img-responsive img-home-portfolio" src="~/image/led/led68.jpg" alt="portfolio 1">

            </div>

            <div class="col-lg-6 col-md-6 col-sm-9">

                <img class="img-responsive img-home-portfolio" src="~/image/led/led82.jpg" alt="portfolio 1">

            </div>

            <div class="col-lg-12">
                <p></p>
            </div>


            <div class="col-lg-6 col-md-6 col-sm-9">

                <img class="img-responsive img-home-portfolio" src="~/image/led/led84.jpg" alt="portfolio 1">

            </div>


            <div class="col-lg-6 col-md-6 col-sm-9">

                <img class="img-responsive img-home-portfolio" src="~/image/led/led87.jpg" alt="portfolio 1">

            </div>

            <div class="col-lg-12">
                <p></p>
            </div>


            <div class="col-lg-6 col-md-6 col-sm-9">

                <img class="img-responsive img-home-portfolio" src="~/image/led/led95.jpg" alt="portfolio 1">

            </div>

            <div class="col-lg-6 col-md-6 col-sm-9">

                <img class="img-responsive img-home-portfolio" src="~/image/led/led101.jpg" alt="portfolio 1">

            </div>

            <div class="col-lg-12">
                <p></p>
            </div>



            <div class="col-lg-6 col-md-6 col-sm-9">

                <img class="img-responsive img-home-portfolio" src="~/image/led/led25.jpg" alt="portfolio 1">

            </div>


            <div class="col-lg-6 col-md-6 col-sm-9">

                <img class="img-responsive img-home-portfolio" src="~/image/led/led39.jpg" alt="portfolio 1">

            </div>

            <div class="col-lg-12">
                <p></p>
            </div>


            <div class="col-lg-6 col-md-6 col-sm-9">

                <img class="img-responsive img-home-portfolio" src="~/image/led/led59.jpg" alt="portfolio 1">

            </div>

            <div class="col-lg-6 col-md-6 col-sm-9">

                <img class="img-responsive img-home-portfolio" src="~/image/led/led63.jpg" alt="portfolio 1">

            </div>

            <div class="col-lg-12">
                <p></p>
            </div>



            <div class="col-lg-6 col-md-6 col-sm-9">

                <img class="img-responsive img-home-portfolio" src="~/image/led/led65.jpg" alt="portfolio 1">

            </div>


            <div class="col-lg-6 col-md-6 col-sm-9">

                <img class="img-responsive img-home-portfolio" src="~/image/led/led67.jpg" alt="portfolio 1">

            </div>

            <div class="col-lg-12">
                <p></p>
            </div>


            <div class="col-lg-6 col-md-6 col-sm-9">

                <img class="img-responsive img-home-portfolio" src="~/image/led/led73.jpg" alt="portfolio 1">

            </div>

            <div class="col-lg-6 col-md-6 col-sm-9">

                <img class="img-responsive img-home-portfolio" src="~/image/led/led74.jpg" alt="portfolio 1">

            </div>

            <div class="col-lg-12">
                <p></p>
            </div>



            <div class="col-lg-6 col-md-6 col-sm-9">

                <img class="img-responsive img-home-portfolio" src="~/image/led/led85.jpg" alt="portfolio 1">

            </div>


            <div class="col-lg-6 col-md-6 col-sm-9">

                <img class="img-responsive img-home-portfolio" src="~/image/led/led92.jpg" alt="portfolio 1">

            </div>


            <div class="col-lg-12">
                <p></p>
            </div>


            <div class="col-lg-6 col-md-6 col-sm-9">

                <img class="img-responsive img-home-portfolio" src="~/image/led/led105.jpg" alt="portfolio 1">

            </div>

            <div class="col-lg-6 col-md-6 col-sm-9">

                <img class="img-responsive img-home-portfolio" src="~/image/led/led106.jpg" alt="portfolio 1">

            </div>

            <div class="col-lg-12">
                <p></p>
            </div>

            <div class="col-lg-6 col-md-6 col-sm-9">

                <img class="img-responsive img-home-portfolio" src="~/image/led/led17.jpg" alt="portfolio 1">

            </div>

            <div class="col-lg-6 col-md-6 col-sm-9">

                <img class="img-responsive img-home-portfolio" src="~/image/led/led19.jpg" alt="portfolio 1">

            </div>

            <div class="col-lg-12">
                <p></p>
            </div>

            <div class="col-lg-6 col-md-6 col-sm-9">

                <img class="img-responsive img-home-portfolio" src="~/image/led/led20.jpg" alt="portfolio 1">

            </div>

            <div class="col-lg-6 col-md-6 col-sm-9">

                <img class="img-responsive img-home-portfolio" src="~/image/led/led33.jpg" alt="portfolio 1">

            </div>

            <div class="col-lg-12">
                <p></p>
            </div>

            <div class="col-lg-6 col-md-6 col-sm-9">

                <img class="img-responsive img-home-portfolio" src="~/image/led/led42.jpg" alt="portfolio 1">

            </div>

            <div class="col-lg-6 col-md-6 col-sm-9">

                <img class="img-responsive img-home-portfolio" src="~/image/led/led62.jpg" alt="portfolio 1">

            </div>

            <div class="col-lg-12">
                <p></p>
            </div>

            <div class="col-lg-6 col-md-6 col-sm-9">

                <img class="img-responsive img-home-portfolio" src="~/image/led/led76.jpg" alt="portfolio 1">

            </div>

            <div class="col-lg-6 col-md-6 col-sm-9">

                <img class="img-responsive img-home-portfolio" src="~/image/led/led77.jpg" alt="portfolio 1">

            </div>

            <div class="col-lg-12">
                <p></p>
            </div>


            <div class="col-lg-6 col-md-6 col-sm-9">

                <img class="img-responsive img-home-portfolio" src="~/image/led/led16.jpg" alt="portfolio 1">

            </div>

            <div class="col-lg-6 col-md-6 col-sm-9">

                <img class="img-responsive img-home-portfolio" src="~/image/led/led36.jpg" alt="portfolio 1">

            </div>

            <div class="col-lg-12">
                <p></p>
            </div>

            <div class="col-lg-6 col-md-6 col-sm-9">

                <img class="img-responsive img-home-portfolio" src="~/image/led/led1.jpg" alt="portfolio 1">

            </div>

            <div class="col-lg-6 col-md-6 col-sm-9">

                <img class="img-responsive img-home-portfolio" src="~/image/led/led44.jpg" alt="portfolio 1">

            </div>

            <div class="col-lg-12">
                <p></p>
            </div>


            <div class="col-lg-6 col-md-6 col-sm-9">

                <img class="img-responsive img-home-portfolio" src="~/image/led/led64.jpg" alt="portfolio 1">

            </div>

            <div class="col-lg-6 col-md-6 col-sm-9">

                <img class="img-responsive img-home-portfolio" src="~/image/led/led72.jpg" alt="portfolio 1">

            </div>

            <div class="col-lg-12">
                <p></p>
            </div>


            <div class="col-lg-6 col-md-6 col-sm-9">

                <img class="img-responsive img-home-portfolio" src="~/image/led/led75.jpg" alt="portfolio 1">

            </div>

            <div class="col-lg-6 col-md-6 col-sm-9">

                <img class="img-responsive img-home-portfolio" src="~/image/led/led81.jpg" alt="portfolio 1">

            </div>

            <div class="col-lg-12">
                <p></p>
            </div>

            <div class="col-lg-6 col-md-6 col-sm-9">

                <img class="img-responsive img-home-portfolio" src="~/image/led/led83.jpg" alt="portfolio 1">

            </div>

            <div class="col-lg-6 col-md-6 col-sm-9">

                <img class="img-responsive img-home-portfolio" src="~/image/led/led88.jpg" alt="portfolio 1">

            </div>

            <div class="col-lg-12">
                <p></p>
            </div>

            <div class="col-lg-6 col-md-6 col-sm-9">

                <img class="img-responsive img-home-portfolio" src="~/image/led/led93.jpg" alt="portfolio 1">

            </div>

            <div class="col-lg-6 col-md-6 col-sm-9">

                <img class="img-responsive img-home-portfolio" src="~/image/led/led110.jpg" alt="portfolio 1">

            </div>

            <div class="col-lg-12">
                <p></p>
            </div>

            <div class="col-lg-6 col-md-6 col-sm-9">

                <img class="img-responsive img-home-portfolio" src="~/image/led/led112.jpg" alt="portfolio 1">

            </div>

            <div class="col-lg-6 col-md-6 col-sm-9">

                <img class="img-responsive img-home-portfolio" src="~/image/led/led113.jpg" alt="portfolio 1">

            </div>

            <div class="col-lg-12">
                <p></p>
            </div>


            <div class="col-lg-6 col-md-6 col-sm-9">

                <img class="img-responsive img-home-portfolio" src="~/image/led/led13.jpg" alt="portfolio 1">

            </div>

            <div class="col-lg-6 col-md-6 col-sm-9">

                <img class="img-responsive img-home-portfolio" src="~/image/led/led14.jpg" alt="portfolio 1">

            </div>

            <div class="col-lg-12">
                <p></p>
            </div>



            <div class="col-lg-6 col-md-6 col-sm-9">

                <img class="img-responsive img-home-portfolio" src="~/image/led/led18.jpg" alt="portfolio 1">

            </div>

            <div class="col-lg-6 col-md-6 col-sm-9">

                <img class="img-responsive img-home-portfolio" src="~/image/led/led22.jpg" alt="portfolio 1">

            </div>

            <div class="col-lg-12">
                <p></p>
            </div>



            <div class="col-lg-6 col-md-6 col-sm-9">

                <img class="img-responsive img-home-portfolio" src="~/image/led/led23.jpg" alt="portfolio 1">

            </div>

            <div class="col-lg-6 col-md-6 col-sm-9">

                <img class="img-responsive img-home-portfolio" src="~/image/led/led27.jpg" alt="portfolio 1">

            </div>

            <div class="col-lg-12">
                <p></p>
            </div>



            <div class="col-lg-6 col-md-6 col-sm-9">

                <img class="img-responsive img-home-portfolio" src="~/image/led/led29.jpg" alt="portfolio 1">

            </div>

            <div class="col-lg-6 col-md-6 col-sm-9">

                <img class="img-responsive img-home-portfolio" src="~/image/led/led30.jpg" alt="portfolio 1">

            </div>

            <div class="col-lg-12">
                <p></p>
            </div>



            <div class="col-lg-6 col-md-6 col-sm-9">

                <img class="img-responsive img-home-portfolio" src="~/image/led/led31.jpg" alt="portfolio 1">

            </div>

            <div class="col-lg-6 col-md-6 col-sm-9">

                <img class="img-responsive img-home-portfolio" src="~/image/led/led32.jpg" alt="portfolio 1">

            </div>

            <div class="col-lg-12">
                <p></p>
            </div>



            <div class="col-lg-6 col-md-6 col-sm-9">

                <img class="img-responsive img-home-portfolio" src="~/image/led/led51.jpg" alt="portfolio 1">

            </div>

            <div class="col-lg-6 col-md-6 col-sm-9">

                <img class="img-responsive img-home-portfolio" src="~/image/led/led52.jpg" alt="portfolio 1">

            </div>

            <div class="col-lg-12">
                <p></p>
            </div>



            <div class="col-lg-6 col-md-6 col-sm-9">

                <img class="img-responsive img-home-portfolio" src="~/image/led/led54.jpg" alt="portfolio 1">

            </div>

            <div class="col-lg-6 col-md-6 col-sm-9">

                <img class="img-responsive img-home-portfolio" src="~/image/led/led102.jpg" alt="portfolio 1">

            </div>

            <div class="col-lg-12">
                <p></p>
            </div>



            <div class="col-lg-6 col-md-6 col-sm-9">

                <img class="img-responsive img-home-portfolio" src="~/image/led/led2.jpg" alt="portfolio 1">

            </div>

            <div class="col-lg-6 col-md-6 col-sm-9">

                <img class="img-responsive img-home-portfolio" src="~/image/led/led5.jpg" alt="portfolio 1">

            </div>

            <div class="col-lg-12">
                <p></p>
            </div>



            <div class="col-lg-6 col-md-6 col-sm-9">

                <img class="img-responsive img-home-portfolio" src="~/image/led/led6.jpg" alt="portfolio 1">

            </div>

            <div class="col-lg-6 col-md-6 col-sm-9">

                <img class="img-responsive img-home-portfolio" src="~/image/led/led7.jpg" alt="portfolio 1">

            </div>

            <div class="col-lg-12">
                <p></p>
            </div>

            <div class="col-lg-6 col-md-6 col-sm-9">

                <img class="img-responsive img-home-portfolio" src="~/image/led/led8.jpg" alt="portfolio 1">

            </div>

            <div class="col-lg-6 col-md-6 col-sm-9">

                <img class="img-responsive img-home-portfolio" src="~/image/led/led10.jpg" alt="portfolio 1">

            </div>

            <div class="col-lg-12">
                <p></p>
            </div>

            <div class="col-lg-6 col-md-6 col-sm-9">

                <img class="img-responsive img-home-portfolio" src="~/image/led/led12.jpg" alt="portfolio 1">

            </div>

            <div class="col-lg-6 col-md-6 col-sm-9">

                <img class="img-responsive img-home-portfolio" src="~/image/led/led21.jpg" alt="portfolio 1">

            </div>

            <div class="col-lg-12">
                <p></p>
            </div>

            <div class="col-lg-6 col-md-6 col-sm-9">

                <img class="img-responsive img-home-portfolio" src="~/image/led/led70.jpg" alt="portfolio 1">

            </div>

            <div class="col-lg-6 col-md-6 col-sm-9">

                <img class="img-responsive img-home-portfolio" src="~/image/led/led78.jpg" alt="portfolio 1">

            </div>

            <div class="col-lg-12">
                <p></p>
            </div>

            <div class="col-lg-6 col-md-6 col-sm-9">

                <img class="img-responsive img-home-portfolio" src="~/image/led/led79.jpg" alt="portfolio 1">

            </div>

            <div class="col-lg-6 col-md-6 col-sm-9">

                <img class="img-responsive img-home-portfolio" src="~/image/led/led80.jpg" alt="portfolio 1">

            </div>

            <div class="col-lg-12">
                <p></p>
            </div>

            <div class="col-lg-6 col-md-6 col-sm-9">

                <img class="img-responsive img-home-portfolio" src="~/image/led/led89.jpg" alt="portfolio 1">

            </div>

            <div class="col-lg-6 col-md-6 col-sm-9">

                <img class="img-responsive img-home-portfolio" src="~/image/led/led91.jpg" alt="portfolio 1">

            </div>

            <div class="col-lg-12">
                <p></p>
            </div>

            <div class="col-lg-6 col-md-6 col-sm-9">

                <img class="img-responsive img-home-portfolio" src="~/image/led/led94.jpg" alt="portfolio 1">

            </div>

            <div class="col-lg-6 col-md-6 col-sm-9">

                <img class="img-responsive img-home-portfolio" src="~/image/led/led98.jpg" alt="portfolio 1">

            </div>

            <div class="col-lg-12">
                <p></p>
            </div>

            <div class="col-lg-6 col-md-6 col-sm-9">

                <img class="img-responsive img-home-portfolio" src="~/image/led/led100.jpg" alt="portfolio 1">

            </div>

            <div class="col-lg-6 col-md-6 col-sm-9">

                <img class="img-responsive img-home-portfolio" src="~/image/led/led109.jpg" alt="portfolio 1">

            </div>

            <div class="col-lg-12">
                <p></p>
            </div>

            <div class="col-lg-6 col-md-6 col-sm-9">

                <img class="img-responsive img-home-portfolio" src="~/image/led/led111.jpg" alt="portfolio 1">

            </div>

            <div class="col-lg-6 col-md-6 col-sm-9">

                <img class="img-responsive img-home-portfolio" src="~/image/led/led114.jpg" alt="portfolio 1">

            </div>

            <div class="col-lg-12">
                <p></p>
            </div>

            <div class="col-lg-6 col-md-6 col-sm-9">

                <img class="img-responsive img-home-portfolio" src="~/image/led/led35.jpg" alt="portfolio 1">

            </div>

            <div class="col-lg-6 col-md-6 col-sm-9">

                <img class="img-responsive img-home-portfolio" src="~/image/led/led37.jpg" alt="portfolio 1">

            </div>

            <div class="col-lg-12">
                <p></p>
            </div>

            <div class="col-lg-6 col-md-6 col-sm-9">

                <img class="img-responsive img-home-portfolio" src="~/image/led/led38.jpg" alt="portfolio 1">

            </div>

            <div class="col-lg-6 col-md-6 col-sm-9">

                <img class="img-responsive img-home-portfolio" src="~/image/led/led45.jpg" alt="portfolio 1">

            </div>

            <div class="col-lg-12">
                <p></p>
            </div>

            <div class="col-lg-6 col-md-6 col-sm-9">

                <img class="img-responsive img-home-portfolio" src="~/image/led/led47.jpg" alt="portfolio 1">

            </div>

            <div class="col-lg-6 col-md-6 col-sm-9">

                <img class="img-responsive img-home-portfolio" src="~/image/led/led48.jpg" alt="portfolio 1">

            </div>

            <div class="col-lg-12">
                <p></p>
            </div>

            <div class="col-lg-6 col-md-6 col-sm-9">

                <img class="img-responsive img-home-portfolio" src="~/image/led/led49.jpg" alt="portfolio 1">

            </div>

            <div class="col-lg-6 col-md-6 col-sm-9">

                <img class="img-responsive img-home-portfolio" src="~/image/led/led53.jpg" alt="portfolio 1">

            </div>

            <div class="col-lg-12">
                <p></p>
            </div>

            <div class="col-lg-6 col-md-6 col-sm-9">

                <img class="img-responsive img-home-portfolio" src="~/image/led/led55.jpg" alt="portfolio 1">

            </div>

            <div class="col-lg-6 col-md-6 col-sm-9">

                <img class="img-responsive img-home-portfolio" src="~/image/led/led57.jpg" alt="portfolio 1">

            </div>

            <div class="col-lg-12">
                <p></p>
            </div>

            <div class="col-lg-6 col-md-6 col-sm-9">

                <img class="img-responsive img-home-portfolio" src="~/image/led/led58.jpg" alt="portfolio 1">

            </div>

            <div class="col-lg-6 col-md-6 col-sm-9">

                <img class="img-responsive img-home-portfolio" src="~/image/led/led69.jpg" alt="portfolio 1">

            </div>

            <div class="col-lg-12">
                <p></p>
            </div>

            <div class="col-lg-6 col-md-6 col-sm-9">

                <img class="img-responsive img-home-portfolio" src="~/image/led/led104.jpg" alt="portfolio 1">

            </div>

            <div class="col-lg-6 col-md-6 col-sm-9">

                <img class="img-responsive img-home-portfolio" src="~/image/led/led107.jpg" alt="portfolio 1">

            </div>

            <div class="col-lg-12">
                <p></p>
            </div>

            <div class="col-lg-6 col-md-6 col-sm-9">

                <img class="img-responsive img-home-portfolio" src="~/image/led/led41.jpg" alt="portfolio 1">

            </div>

            <div class="col-lg-6 col-md-6 col-sm-9">

                <img class="img-responsive img-home-portfolio" src="~/image/led/led43.jpg" alt="portfolio 1">

            </div>

            <div class="col-lg-12">
                <p></p>
            </div>

            <div class="col-lg-6 col-md-6 col-sm-9">

                <img class="img-responsive img-home-portfolio" src="~/image/led/led46.jpg" alt="portfolio 1">

            </div>

            <div class="col-lg-6 col-md-6 col-sm-9">

                <img class="img-responsive img-home-portfolio" src="~/image/led/led103.jpg" alt="portfolio 1">

            </div>

            <div class="col-lg-12">
                <p></p>
            </div>

            <div class="col-lg-6 col-md-6 col-sm-9">

                <img class="img-responsive img-home-portfolio" src="~/image/led/led3.jpg" alt="portfolio 1">

            </div>

            <div class="col-lg-6 col-md-6 col-sm-9">

                <img class="img-responsive img-home-portfolio" src="~/image/led/led4.jpg" alt="portfolio 1">

            </div>

            <div class="col-lg-12">
                <p></p>
            </div>


            <div class="col-lg-6 col-md-6 col-sm-9">

                <img class="img-responsive img-home-portfolio" src="~/image/led/led9.jpg" alt="portfolio 1">

            </div>

            <div class="col-lg-6 col-md-6 col-sm-9">

                <img class="img-responsive img-home-portfolio" src="~/image/led/led15.jpg" alt="portfolio 1">

            </div>

            <div class="col-lg-12">
                <p></p>
            </div>


            <div class="col-lg-6 col-md-6 col-sm-9">

                <img class="img-responsive img-home-portfolio" src="~/image/led/led24.jpg" alt="portfolio 1">

            </div>

            <div class="col-lg-6 col-md-6 col-sm-9">

                <img class="img-responsive img-home-portfolio" src="~/image/led/led26.jpg" alt="portfolio 1">

            </div>

            <div class="col-lg-12">
                <p></p>
            </div>


            <div class="col-lg-6 col-md-6 col-sm-9">

                <img class="img-responsive img-home-portfolio" src="~/image/led/led28.jpg" alt="portfolio 1">

            </div>

            <div class="col-lg-6 col-md-6 col-sm-9">

                <img class="img-responsive img-home-portfolio" src="~/image/led/led34.jpg" alt="portfolio 1">

            </div>

            <div class="col-lg-12">
                <p></p>
            </div>


            <div class="col-lg-6 col-md-6 col-sm-9">

                <img class="img-responsive img-home-portfolio" src="~/image/led/led86.jpg" alt="portfolio 1">

            </div>

            <div class="col-lg-6 col-md-6 col-sm-9">

                <img class="img-responsive img-home-portfolio" src="~/image/led/led90.jpg" alt="portfolio 1">

            </div>

            <div class="col-lg-12">
                <p></p>
            </div>


            <div class="col-lg-6 col-md-6 col-sm-9">

                <img class="img-responsive img-home-portfolio" src="~/image/led/led97.jpg" alt="portfolio 1">

            </div>

            <div class="col-lg-6 col-md-6 col-sm-9">

                <img class="img-responsive img-home-portfolio" src="~/image/led/led99.jpg" alt="portfolio 1">

            </div>

            <div class="col-lg-12">
                <p></p>
            </div>


            <div class="col-lg-6 col-md-6 col-sm-9">

                <img class="img-responsive img-home-portfolio" src="~/image/led/led96.jpg" alt="portfolio 1">

            </div>

            <div class="col-lg-6 col-md-6 col-sm-9">

                <img class="img-responsive img-home-portfolio" src="~/image/led/led108.jpg" alt="portfolio 1">

            </div>

            <div class="col-lg-12">
                <p></p>
            </div>



        </div>
    </div>
</div>



