
@{
    ViewBag.Title = "Mt";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="section" id="recent-projects" style="position: relative;">

    <div class="container">

        <div class="row">
            <div class="col-lg-12">
                <h2 class="section-title">MT Mühendislik Osman Gazi Projesi</h2>
            </div>

            <div class="col-lg-6 col-md-6 col-sm-9">

                <img class="img-responsive img-home-portfolio" src="~/image/projeler/mt muhendislik/mt_1.jpg" alt="portfolio 1">

            </div>

            </div>
</div>
</div>
