
@{
    ViewBag.Title = "Index";
}

<div class="text-center>
    <h2>Harika bir doğum günü partisi olacak.
        <h3>Sen de Davetlisin.
        @Html.ActionLink("Geliyor musun? ","DavetiyeFormu", null, new { @class = "btn btn-primary" })
</div>

