@model gu_UrunDetails.Models.Urun
@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<ul>
    <li>urun Id = @Model.urunId</li>
    <li>urun Adı = @Model.urunAdi</li>
    <li>urun Fiyatı = @Model.urunFiyat</li>
</ul>